<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067960690361-7mnuie8n5lq4sg1ljdobch3714uomgkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067960690361-7mnuie8n5lq4sg1ljdobch3714uomgkc</string>
	<key>API_KEY</key>
	<string>AIzaSyCD2UD38Nx_F8w456ZgMWQguEF_K35QxyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067960690361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edsBeta</string>
	<key>PROJECT_ID</key>
	<string>endless-store-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>endless-store-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067960690361:ios:673f23a2af3796c5e85d68</string>
</dict>
</plist>